<ul class="nav-bottom">
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/overview']" class="overview">
            <i class="icon-frequency"></i>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/send']">
            <i class="icon-send"></i>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/receive']">
            <i class="icon-price-min"></i>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/transactions']">
            <i class="icon-compare-arrow"></i>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/contacts']">
            <i class="icon-users"></i>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/settings']">
            <i class="icon-settings"></i>
        </a>
    </li>
    <!--<li [routerLinkActive]="['active']">
        <a [routerLink]="['/proposal']">
            <i class="icon-thumbs-up-down"></i>
        </a>
    </li>-->
</ul>