<nav class="side-navbar" [ngClass]="{'showNavBar': showNavbar}">
    
    <span class="heading">{{'Main' | translate}}</span>
    
    <ul class="list-unstyled">
        <ng-container *ngFor="let menuItem of navMenuList; trackBy: trackByFn">
            <li *ngIf="menuItem.enable" routerLinkActive="active">
                <a [routerLink]="[menuItem.route]">
                    <i class="{{ menuItem.iconClass }}"></i>
                    <span>{{ translate(menuItem.translateKey) }}</span>
                </a>
            </li>
        </ng-container>
    </ul>

    <span class="heading">{{'Misc.' | translate}}</span>

    <ul class="list-unstyled">
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['/terms']">
                <i class="icon-gavel"></i>
                <span>{{ 'Policies & Legal' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="https://smartcash.freshdesk.com/support/solutions" target="_blank">
                <i class="icon-email"></i>
                <span>{{ 'Support' | translate }}</span>
            </a>
        </li>
    </ul>

    <span class="heading">{{ 'Resources' | translate }}</span>

    <ul class="list-unstyled">
        <li>
            <a href="https://forum.smartcash.cc/" target="_blank">
                <i class="fa fa-comments-o"></i>
                <span>{{ 'Forums' | translate }}</span>
            </a>
        </li>
        <li>
            <a href="https://discordapp.com/invite/BDUh8jr" target="_blank">
                <i class="fa fa-slack"></i>
                <span>Discord</span>
            </a>
        </li>
    </ul>

    <div class="bottom-info">
        <span>{{ 'Sponsored by' | translate }}</span>
        <a href="http://www.smartcash.cc" target="_blank" class="external">SmartCash</a>
    </div>
</nav>