<div class="card">
    <div class="card-header" [ngClass]="{'active': showForm}">
        <i class="icon-secure"></i>
        <h3 class="h4">{{'Two FA Manager' | translate}}</h3>
        <button [ngClass]="{'active': showForm}" (click)="showForm = !showForm">&nbsp;</button>
    </div>
    <div class="twofaManager" *ngIf="showForm">
        <span>{{'Two FA Manager Activation' | translate}}</span>
        <label class="switch" (click)="getNewTwoFa()" *ngIf="!_shared.user.is2FAEnabled">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <label class="switch" (click)="openFormDisableTwoFa()" *ngIf="_shared.user.is2FAEnabled">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>
    <div class="twofaManager" *ngIf="showForm && _shared.user.is2FAEnabled">
        <span>{{'Require 2FA to Send' | translate}}</span>
        <label class="switch" (click)="_showFormRequire2faToSend()">
            <input type="checkbox" [checked]="_shared.user.require2faToSend">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="card-body" *ngIf="showFormRequire2faToSend">
        <form (ngSubmit)="toggleRequire2faToSend()" #enable2Send="ngForm">
            <div class="form-input">
                <label for="data">{{'Two Fa Code' | translate}}</label>
                <input id="data" name="data" type="text" value="" [(ngModel)]="twofa.data" #data="ngModel" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!enable2Send.form.valid || inProgress">
                <ng-container *ngIf="!_shared.dataStore.user.require2faToSend">
                    {{'Enable 2fa to send' | translate}}
                </ng-container>
                <ng-container *ngIf="_shared.dataStore.user.require2faToSend">
                    {{'Disable 2fa to send' | translate}}
                </ng-container>
            </button>
        </form>
    </div>
    <div class="card-body" *ngIf="showForm">
        <div *ngIf="response && response.isValid && !_shared.user.is2FAEnabled">
            <img class="qrCode" *ngIf="response.data.qrCodeImageUrl" src="{{response.data.qrCodeImageUrl}}">
            <div class="walletInfoWrapper">
                <span class="address" [innerHTML]="response.data.manualEntrySetupCode"></span>
                <button class="btn btn-copy" type="button" [attr.data-clipboard-text]="response.data.manualEntrySetupCode">
                    <i class="icon-content-copy"></i>
                </button>
            </div>
            <form (ngSubmit)="enableTwoFa()" #importForm="ngForm">
                <div class="form-input">
                    <label for="data">{{'Two Fa Code' | translate}} <span [hidden]="data.valid || data.pristine" class="alert alert-danger">{{'A valid Two Fa Code is required.' | translate}}</span></label>
                    <input id="data" name="data" type="text" value="" [(ngModel)]="twofa.data" #data="ngModel" autocomplete="off" />
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!importForm.form.valid || inProgress">{{'Send the code' | translate}}</button>
            </form>
        </div>
        <div *ngIf="response2 && !response2.isValid" class="alert alert-danger" role="alert">
            <strong>{{'Error' | translate}}: </strong> {{ response2.error.message }}
        </div>
        <div *ngIf="response2 && response2.isValid" class="alert alert-success" role="alert">
            <strong>{{'Status' | translate}}: </strong> {{'Your TWO FA was enabled successfully.' | translate}}
        </div>
        <div *ngIf="response4 && !response4.isValid" class="alert alert-danger" role="alert">
            <strong>{{'Error' | translate}}: </strong> {{ response2.error.message }}
        </div>
        <div *ngIf="response4 && response4.isValid && _shared.dataStore.user.require2faToSend" class="alert alert-success" role="alert">
            <strong>{{'Status' | translate}}: </strong> {{'Require 2FA to send was enabled successfully.' | translate}}
        </div>
        <div *ngIf="response4 && response4.isValid && !_shared.dataStore.user.require2faToSend" class="alert alert-success" role="alert">
            <strong>{{'Status' | translate}}: </strong> {{'Require 2FA to send was disabled successfully.' | translate}}
        </div>
        <div *ngIf="openFormTwoFa && _shared.user.is2FAEnabled">
            <form (ngSubmit)="disableTwoFa()" #disableForm="ngForm">
                <div class="form-input">
                    <label for="data">Master Security Code: <span [hidden]="data.valid || data.pristine" class="alert alert-danger">{{'Your password is required.' | translate}}</span></label>
                    <input id="data" name="data" type="password" value="" [(ngModel)]="twofa.data" #data="ngModel" autocomplete="off" />
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!disableForm.form.valid || inProgress">{{'Disable Two FA' | translate}}</button>
            </form>
        </div>
        <div *ngIf="response3 && !response3.isValid" class="alert alert-danger" role="alert">
            <strong>{{'Error' | translate}}: </strong> {{ response3.error.message }}
        </div>
        <div *ngIf="response3 && response3.isValid" class="alert alert-success" role="alert">
            <strong>{{'Status' | translate}}: </strong> {{'Your TWO FA was disabled successfully.' | translate}}
        </div>
    </div>
</div>