<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4"></h3>
        </div>
        <!--
                <div style="max-width:600px">
                     PUT SOME CONTENT HERE
                    <qr-scanner [debug]="false" [canvasWidth]="100" [canvasHeight]="100" [mirror]="false" [stopAfterScan]="true" [updateTime]="500"
                        (onRead)="decodedOutput($event)"></qr-scanner>
                </div>
                <p>{{ address }}</p>-->
    </div>
</div>